<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>2048 via HTMX and Go</title>
	<link rel="stylesheet" href="/assets/style/base.css">
	<link rel="stylesheet" href="/assets/style/colors.min.css">
	<link rel="stylesheet" href="/assets/style/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="m-0 bg-gray-300 pt-15 flex items-center justify-center max-w-full">
	<div id="root" hx-swap="innerHTML" class="max-w-full">
		{{if .IsAuthenticated}}
			{{template "Root" .}}
		{{else}}
			{{template "Auth" .}}
		{{end}}
	</div>

	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</body>
</html>
